/* Background */
.root {
    -fx-background-color: #ecf0f1;
}



/* Text Fields & Combo Boxes */
.text-field, .combo-box, .date-picker {
    -fx-background-radius: 8px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-border-color: #5758BB;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-focus-color: #5758BB;
}

/* Buttons */
.jfx-button {
    -fx-background-color: #3498db;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 20px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
}

/* Button Hover Effect */
.jfx-button:hover {
    -fx-background-color: #2980b9;
}
